<div class="menu-item-inner">
	<div class="menu-graphic">
		{{#unless _isLocked}}
			<a href="#/id/{{_id}}" class="{{#if _isVisited}}visited{{/if}}">
		{{/unless}}
		<img src="{{_graphic.src}}" alt="{{_graphic.alt}}" />
		{{#unless _isLocked}}
			</a>
		{{/unless}}
	</div>
	<div class="menu-item-title">
		<h2 class="menu-item-title-inner">{{{displayTitle}}}</h2>
	</div>
	<div class="menu-item-body">
		<div class="menu-item-body-inner">{{{body}}}</div>
	</div>
	<div class="menu-item-button">
		{{#unless _isLocked}}
			<a href="#/id/{{_id}}" class="{{#if _isVisited}}visited{{/if}}">
				<span>{{{linkText}}}</span>
			</a>
		{{else}}
			<span>{{{lockText}}}</span>
		{{/unless}}
		<span class="menu-item-duration">Duration: {{{duration}}}</span>
	</div>
	<div class="menu-item-progress">
		<div class="menu-item-progress-indicator">
			<div class="menu-item-progress-indicator-bar" style="width:{{completedChildrenAsPercentage}}%"></div>
		</div>
	</div>
</div>